@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #06b6d4;
  --off-white: #f4f4f5;
  --gray: #52525b;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem 0rem;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 700px;
  margin: auto;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.container-center .link-primary:hover {
  background-color: #0e7490;
}

.container-center .link-secondary:hover {
  background-color: #d4d4d8;
}

.link-home {
  margin-left: 38%;
}

.link-projects {
  margin-left: 23%;
}

/* BEM naming convention */

/* list */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  display: block;
  position: absolute;
  max-width: 5rem;
  margin-top: -1rem;
  padding-left: 0.75rem;
}

.navigation .nav-pills {
  display: block;
  text-align: right;
  font-size: large;
}

.navigation .link {
  color: white;
}

.navigation .link:hover {
  color: black;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 1rem;
  padding-top: 3.5rem;
}

.hero .hero-img {
  display: block;
  margin: auto;
}

.hero .hero-img-home {
  max-width: 275px;
  padding-right: 1.5rem;
}

.hero .hero-img-projects {
  max-width: 350px;
}

.hero .hero-img-blogs {
  max-width: 290px;
}

.hero .hero-heading {
  text-align: center;
  color: var(--gray);
  padding-top: 1rem;
}
.hero .hero-heading .heading-highlight {
  color: var(--primary-color);
}

.hero-home {
  display: flex;
  justify-content: center;
  margin-right: 0px;
}

.hero-home .hero-heading-home {
  text-align: left;
}
/* 
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

.hero-heading-home {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
} */

/* sections */

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.section-ow {
  background-color: var(--off-white);
}

.section-projects {
  padding: 2rem;
}

/* blog images */

.container-center .img-blog {
  display: block;
  margin: auto;
  padding: 1rem 0rem 2rem 0rem;
}

.container-center .img-blog1 {
  max-width: 500px;
}

/* footer */

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .link:hover {
  color: black;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer-credit {
  text-align: left;
  font-size: x-small;
}

/* footer social media links */
.social {
  width: 3.8vh;
  height: auto;
}